.loading-modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba( 255, 255, 255, .8 ) 
  						url('http://i.stack.imgur.com/FhHRx.gif') 
              50% 50% 
              no-repeat;
	display: none;	
}
/* default race data table
-------------------------- */
.uci-curl .race-table {
	width: 100%;
}
.uci-curl .race-table tr {
	padding: 3px 0;
	overflow: hidden;
}
.uci-curl .race-table tr.header {
	font-weight: bold;
}
.uci-curl .race-table tr td {
	
}

/* default race results table
----------------------------- */
.uci-curl .race-results-table {
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
}
.uci-curl .race-results-table tr {
	padding: 3px 0;
	overflow: hidden;
}
.uci-curl .race-results-table tr.header {
	font-weight: bold;
}
.uci-curl .race-results-table tr td {
	
}

/* full race results table (view db)
------------------------------------ */
.race-table {
	width: 100%;
}
.race-table tr {
	padding: 3px 0;
	overflow: hidden;
}
.race-table tr.header {
	font-weight: bold;
}
.race-table tr td {
	
}
.race-results-full-table {
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
}
.race-results-full-table tr {
	padding: 3px 0;
	overflow: hidden;
}
.race-results-full-table tr.header {
	font-weight: bold;
}
.race-results-full-table tr td {
	
}