.loading-modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba( 255, 255, 255, .8 )
  						url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
	display: none;
}


.tablenav.single-race > div {
	margin-right: 15px;
}
.tablenav.single-race > div .season {
	font-style: italic;
}

/**
 * pagination
 */
.uci-pagination {
	overflow: hidden;
	margin: 15px 0;
}
.uci-pagination > div {
	width: 50%;
	float: left;
}
.uci-pagination .next-page {
	text-align: right;
}