.loading-modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba( 255, 255, 255, .8 )
  						url('http://i.stack.imgur.com/FhHRx.gif')
              50% 50%
              no-repeat;
	display: none;
}

h2 .ucicurl-admin-total {
	font-size: 14px;
	font-weight: normal;
}

/** races **/
.tablenav.single-race > div {
	margin-right: 15px;
}
.tablenav.single-race > div .season {
	font-style: italic;
}

/** pagination **/
.tablenav .pagination {
	float: right;
	margin-left: 30px;
}
.tablenav .pagination .uci-results-admin-pagination .next-link {
	margin-left: 10px;
}
.tablenav .pagination .uci-results-admin-pagination {
	margin-top: 3px;
}
.tablenav .pagination .uci-results-admin-pagination > div {
	width: auto;
  min-width: 17px;
  border: 1px solid #ccc;
  padding: 3px 5px 7px;
  background: #e5e5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}
.tablenav .pagination .uci-results-admin-pagination > div.hide {
	display: none;
}
.tablenav .pagination .uci-results-admin-pagination > div a {
	text-decoration: none;
}
.uci-results-admin-pagination {
	overflow: hidden;
	margin: 15px 0;
}
.uci-results-admin-pagination > div {
	width: 50%;
	float: left;
}
.uci-results-admin-pagination > div.hide {
}
.uci-results-admin-pagination .next-link {
	text-align: right;
}
.uci-results-admin-races h2,
.uci-results-admin-series h2 {
	width: 10%;
	float: left;
}
.uci-results-admin-races a.view-series.button ,
.uci-results-admin-series a.add-series.button {
	margin-top: 12px;
}

/* update series */
.uci-results-admin-update-series form .row {
	margin-bottom: 15px;
}
.uci-results-admin-update-series form label {
	font-weight: bold;
	width: 75px;
	display: inline-block;
}


/* update rider rankings */
.ucicurl-update-rankings .update-rankings .button {
	margin: 15px 0;
}
.update-rider-ranking-notes {
	margin: 15px 0;
	display: none;
	max-height: 500px;
	overflow: scroll;
}