/* general */
.uci-results {
	margin-bottom: 15px;
}
.uci-results h1 {
	font-size: 1.5em;
	margin-bottom: 1em;
}
.uci-results a {
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
}
.uci-results h1 .flag {
	margin-left: 15px;
}
.uci-results .table a,
.uci-results .table a:visited {
	color: #1a1a1a;
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
}
.uci-results .table a:active,
.uci-results .table a:hover {
	color: #686868;
}
.uci-results .table .row {
	overflow: hidden;
}
.uci-results .table .row.header {
	font-weight: bold;
}
.uci-results .table .row > div {
	float: left;
	border: 1px solid #d1d1d1;
	border-bottom: none;
	padding: 5px 10px;
}
.uci-results .table .row:last-child > div {
	border-bottom: 1px solid #d1d1d1;
}
.uci-results .table .row > div.rider-place {
	width: 6%;
}
.uci-results .table .row > div.rider-name {
	width: 30%;
}
.uci-results .table .row > div.rider-points {
	width: 8%;
}
.uci-results .table .row > div.rider-nat,
.uci-results .table .row > div.race-nat {
	width: 10%;
}
.uci-results .table .row > div.rider-rank {
	width: 10%;
}
.uci-results .table .row > div.rider-age {
	width: 10%;
}
.uci-results .table .row > div.rider-time {
	width: 10%;
}
.uci-results .table .row > div.race-date {
	width: 17%;
}
.uci-results .table .row > div.race-name {
	width: 52%;
}
.uci-results .table .row > div.race-class {
	width: 6%;
}
.uci-results .table .row > div.race-season {
	width: 11%;
}

/* main shortcode */
.uci-results.main .table .row > div.race-name {
	width: 68%;
}
.uci-results.main .table .row > div.race-date {
	width: 16%;
}
.uci-results.main .table .row > div.race-nat {
	width: 7%;
}
.uci-results.main .table .row > div.race-class {
	width: 9%;
}
.uci-results.main .table .row > div.rider-points {
	width: 10%;
}


/* pagination */
.uci-results-pagination {
	overflow: hidden;
}
.uci-results-pagination .prev-link {
	float: left;
	width: 50%;
}
.uci-results-pagination .next-link {
	float: left;
	width: 50%;
	text-align: right;
}


/* country page */
.uci-results-country h1 .season {
	margin-left: 15px;
}
.uci-results-country h1 .season {
	font-weight: normal;
	font-size: 0.75em;
}
.uci-results-country .country-riders .col {
	float: left;
}
.uci-results-country .country-riders .columns-3 {
	width: 33%;
}

/* single race */
.uci-results-race .race-details {
	overflow: hidden;
	margin-bottom: 15px;
}
.uci-results-race .race-details > div {
	float: left;
	margin-right: 15px;
}

/* main */
.uci-results.main .uci-results-riders {
	margin-bottom: 15px;
}