/**
 *
 * stylesheet for the "user" side of things
 * provides minimum styles so that there's a basic look and feel
 *
 */

/**
 * Rider Rankings
 */
.uci-curl-rider-rankings .header {
	font-weight: bold;
}

/**
 * Pagination
 */
.uci-pagination > div {
	width: 50%;
	float: left;
}
.uci-pagination .hide-opacity {
	opacity: 0;
}
.uci-pagination .prev-page {

}
.uci-pagination .next-page {
	text-align: right;
}

.view-all {
	display: inline-block;
	margin: 5px 0;
}

/**
 * single race
 */
.race-details {
	overflow: hidden;
}
.race-details > div {
	float: left;
	margin-right: 5px;
}
.race-date {
	font-style: italic;
}

/**
 * single rider
 */
.season-rider-stats .current-rank .total,
.season-rider-stats .uci-points .rank,
.season-rider-stats .world-cup-points .rank,
.season-rider-stats .winning-percent .rank,
.season-rider-stats .sos .total {
	display: none;
}
#rider-graphs .chart-title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}
#rider-graphs #weekly-rankings {
	height: 250px;
}