/* full race results table (view db)
------------------------------------ */
.race-table {
	width: 100%;
}
.race-table tr {
	padding: 3px 0;
	overflow: hidden;
}
.race-table tr.header {
	font-weight: bold;
}
.race-table tr.error {
	background: red;
}
.race-table tr td.date {
	width: 140px;	
}
.race-table tr td.event {
	width: 430px;
}
.race-table tr td.nat {
	width: 35px;
}
.race-table tr td.class {
	width: 35px;
}
.race-table tr td.winner {
	width: 150px;
}
.race-results-full-table {
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
}
.race-results-full-table tr {
	padding: 3px 0;
	overflow: hidden;
}
.race-results-full-table tr.header {
	font-weight: bold;
}
.race-results-full-table tr td {
	
}
.race-table .race-results-full-table,
.race-table .race-fq {
	display: none;
}
.race-table .race-results-full-table.show,
.race-table .race-fq.show {
	display: table;
}