.fantasy-cycling-admin .admin-nav {
	list-style-type: none;
	margin: 0;
}
.fantasy-cycling-admin .admin-nav li {
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	border-right: 1px solid #000;
}
.fantasy-cycling-admin .admin-nav li:last-child {
	border-right: 0;
}
.fantasy-cycling-admin .add-race .row,
.fantasy-cycling-admin .add-start-list .row {
	margin-bottom: 5px;
}
.fantasy-cycling-admin .add-race label,
.fantasy-cycling-admin .add-start-list label {
	font-weight: bold;
}
.fantasy-cycling-admin .mediumtext {
	width: 60%;
}
.fantasy-cycling-admin .longtext {
	width: 90%;
}
.fantasy-cycling-admin #fantasy-race-search {
	width: 90%;
}
.fantasy-cycling-admin #fantasy-search-results-text {
	display: none;
}