/**
 * fantasy main
 */
.login-register-wrap .login-register {
	list-style-type: none;
	margin: 0;
}
.login-register-wrap .login-register li {
	float: left;
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid #000;
}
.login-register-wrap .login-register li:last-child {
	border-right: 0;
}
/**
 * user teams list
 */
.fantasy-cycling-user-teams li a.team-name {
	display: inline-block;
	margin-right: 10px;
}
/**
 * upcoming races
 */
.fc-upcoming-races .race-name {
	display: inline-block;
	margin-right: 10px;
}
/**
 * create team
 */
.fantasy-cycling-create-team .row {
	margin-bottom: 5px;
}
.fantasy-cycling-create-team .longtext {
	width: 80%;
}
.world-cup-standings .row.header,
.last-year-results .row.header {
	font-weight: bold;
}
.world-cup-standings h3,
.last-year-results h3 {
	margin-top: 0;
}
.add-remove-rider {
	margin-bottom: 5px;
}
.add-remove-btn {
	padding: 5px 10px;
	background: #ccc;
	border: none;
	margin-left: 5px;
}
.add-remove-btn:hover {
	background: #eee;
}
.add-remove-btn .text {
	display: none;
}
.add-remove-btn .add {
	display: none;
}
.add-remove-btn .remove {
	display: none;
}
.add-remove-btn .add .text {

}
.add-remove-btn .remove .text {

}
#add-rider-modal .rider-list {
	overflow: hidden;
}
/**
 * team rosters
 */
.fantasy-cycling-team .roster,
.fantasy-cycling-user-teams {
	list-style-type: none;
	margin: 0;
}
/**
 * team standings
 */
.team-standings .header {
	font-weight: bold;
}
/**
 * team page
 */
.fantasy-cycling-team .header {
	font-weight: bold;
}
.fantasy-cycling-team .results .race-name,
.fantasy-cycling-team .results .total-points {
	font-weight: bold;
	padding-bottom: 5px;
}
.fantasy-cycling-team .results .race-results {
	border-bottom: 1px solid #ccc;
	margin-bottom: 7px;
	padding-bottom: 7px;
}
.fantasy-cycling-team .results .race-results:last-child {
	border-bottom: none;
}
.fantasy-cycling-team .results .rider {
	margin-bottom: 5px;
}
.fantasy-cycling-team .results .rider .nat {
	margin-left: 15px;
}
/**
 * fc posts
 */
.fc-posts {
	list-style-type: none;
	margin: 0;
}
/**
 * general
 */
.btn.btn-join {
	font-size: 18px;
	background: #e7e7e7;
	padding: 15px 50px;
}
.btn.btn-join:hover {
	background: #a4a4a4;
}